.app {
  text-align: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s background-color;
}

.app.online.beat {
  animation-name: background-beep;
  animation-duration: 0.75s;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes background-beep {
  0% {
    background-color: #282c34;
  }
  8% {
    background-color: #28482e;
  }
  16% {
    background-color: #282c34;
  }
}

.app.online {
  background-color: #282c34;
}

.app.offline {
  background-color: #fb596d;
}

.ticks {
  position: absolute;
  font-weight: lighter;
  z-index: 2;
  cursor: default;
  line-height: 1;
  font-size: calc(10px + 60vmin);
  max-height: 100vh;
  transition: 0.5s;
}

.ticks.online {
  color: rgba(255,255,255,0.1);
}

.ticks.offline {
  color: rgba(255,255,255,1);
}

.atom {
  fill: #61DAFB;
  pointer-events: none;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: atom-spin;
  transition: 0.5s;
}
.atom.online {
  fill: #75fb6d;
  animation-duration: 2s;
  height: 80vmax;
  z-index: 3;
}
.atom.offline {
  fill: rgba(0,0,0,0.25);
  animation-duration: 30s;
  height: 40vmax;
  z-index: 1;
}
@keyframes atom-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ecg {
  display: flex;
  width: 100%;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;

  stroke-width: 5px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ecg-beat;
}
.ecg.offline {
  stroke: rgba(0,0,0,0.25);
  animation-duration: 10s;
  stroke-dasharray: 100;
  z-index: 1;
}
.ecg.online {
  stroke: #75fb6d;
  animation-duration: 0.75s;
  stroke-dasharray: 300;
  z-index: 3;
}
@keyframes ecg-beat {
  from {
    stroke-dashoffset: 600;
  }
  to{
    stroke-dashoffset: 0;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;

  background-color: rgba(255,255,255,0.25);

  width: 60px;
  height: 25px;

  padding: 7px;

  position: absolute;
  left: 50px;
  top: 0;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.lil-icon {
  width: 25px;
  height: 25px;
  fill: rgba(255,255,255,0.75);
  cursor: pointer;
  transition: 0.2s;
}

.lil-icon.selected {
  fill: #61DAFB;
}

.lil-icon:hover {
  fill: #61DAFB;
}

.history {
  position: absolute;
  color: rgba(255,255,255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  bottom: 5px;
  left: 5px;
}

@media (max-width: 500px) {
  .buttons {
    display: none;
  }
  .history {
    display: none;
  }
}

@media (max-height: 400px) {
  .buttons {
    display: none;
  }
  .history {
    display: none;
  }
}
